@{
    ViewData["Title"] = "Home Pagina";
}


<a href="~/Home/Index"><img src="https://cdn.discordapp.com/attachments/560772369770217472/694127478188539964/asiel.png" width=300 height=200/></a>
<h1 class="title">Dieren zijn zeg maar echt ons ding</h1>
<p>Welkom bij de pagina van ons dierenasiel. Dieren zijn zeg maar echt ons ding. Wij zorgen goed voor alle dieren die we binnenkrijgen, zwaargewond of kerngezond. Alle dieren krijgen goede aandacht</p>
<p>elk jaar krijgen we 1000 dieren binnen die we dan een nieuw thuis kunnen geven. Kom gerust eens langs.</p>
<h2>Welke dieren hebben wij?</h2>
<ul>
    <li>Honden</li>
    <li>Katten</li>
</ul>
<p><a href="~/Home/Privacy">Vind hier meer over onze dieren</a></p>
